.cover__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-height: 62.5vw;
  width: 100%;
  padding: 16px;
  position: relative;
  background: url("../../../images/cover-trains.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-decoration: none;
}

.cover__overlay:before {
  background: #2A2C2F;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: .3;
  position: absolute;
  top: 0;
  transition: opacity .3s;
  width: 100%;
}

.cover__overlay:hover:before {
  opacity: .8;
}

@media screen and (min-width: 1280px) {
  .cover__overlay {
    min-height: 740px;
  }
}